h4 {
    margin: 0px;
}

.note-list-container {
    width: 180px;
}

.note-placeholder {
    font-size: 12px;
    color: #888;
}

.note-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.note-preview {
    font-size: 12px;
    max-width: 25ch;
}

.note-generator {
    cursor: pointer;
    font-size: 18px;
}




