#root {
  max-width: 1280px;
  padding: 0 4rem;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.left-container {
  flex: 0 0 20%;
  text-align: left;
}

.middle-container {
  flex: 0 0 60%;
  margin: 0 auto;
  width: 800px;
}

.right-container {
  flex: 0 0 20%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 80px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}