#root {
  max-width: 1280px;
  padding: 0 4rem;
  text-align: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.left-container {
  flex: 0 0 20%;
  text-align: left;
}

.middle-container {
  flex: 0 0 60%;
  margin: 0 auto;
  width: 800px;
}

.right-container {
  flex: 0 0 20%;
}